RewriteEngine On
RewriteBase /apirest/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
# .htaccess para permitir acceso al directorio uploads
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Allow from all
</FilesMatch>
